# Quiz 3 (15 Points)

# Question 1

I have made up some data below and your job is to try to extract the necessary information from the data

In [0]:
data = [{
  "_id": {
    "$oid": "5968dd23fc13ae04d9000001"
  },
  "product_name": "sildenafil citrate",
  "supplier": "Wisozk Inc",
  "quantity": 261,
  "unit_cost": "$10.47"
}, {
  "_id": {
    "$oid": "5968dd23fc13ae04d9000002"
  },
  "product_name": "Mountain Juniperus ashei",
  "supplier": "Keebler-Hilpert",
  "quantity": 292,
  "unit_cost": "$8.74"
}, {
  "_id": {
    "$oid": "5968dd23fc13ae04d9000003"
  },
  "product_name": "Dextromathorphan HBr",
  "supplier": "Schmitt-Weissnat",
  "quantity": 211,
  "unit_cost": "$20.53"
}];

### Question  1A (1 point)
####  Print the content of the data 
- Hint: one line answer

In [1]:
print(data)

NameError: ignored

###  Question  1B (1 point)
####  Print the type of Data
- Hint: one line answer

In [0]:
Dictionaries, strings, intezers

### Question  1C (1 point)
#### Print the length of data
- Hint: one line answer

In [0]:
3

### Question 1D (4 points)

write a program that extracts and prints out the **'quantity'** key from the data.


- Hint: Use a for loop to iterate through the data
- **You do not need** to encapsulate it in a function

it should produce the output in the cell below:
```python
261
292
211

```

In [0]:
print data.quantity[]

In [0]:
print data.quantity[]

In [0]:
print data.quantity[]

<hr>

# Question 2

In [0]:
data2 = {
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            }
        }
    }
}

### Question  2A (1 point)
#### Print the content of the data2 
- Hint: one line answer

In [0]:
quiz: sport: q1: Which one is correct team name in NBA?
                options:
                    New York Bulls, Los Angeles Kings, Golden State Warriros, Huston Rocket

### Question  2B (1 point)
#### Print the type of Data2
- Hint: one line answer

In [0]:
dictionaries, strings

### Question  2C (1point)
#### Print the length of data2
- Hint: one line answer

In [0]:
3

### Question 2D (5 points)

write a program that extracts and prints out the **'options'** key from the data2.


- Hint: Use a for loop to iterate through the data
- to get the items in a dictionary, use: **data2.items()**
- to get the keys in a dictionary, use: **data2.keys()**
- to get the values in a dictionary use: **data2.values()**

it should produce the output in the cell below:

```python
['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket']
['10', '11', '12', '13']

```
**You do not need** to encapsulate it in a function

In [0]:
for level1_keys, level1_vals in data2.items():
  data2.options()= 
    return

In [0]:
# free cell to write code

In [0]:
# free cell to write code